@model CalorieTrackerCookBookApp.Models.FavoriteViewModel

@{
    ViewData["Title"] = "Add to Favorites";
}

<h2>Add Recipe to Favorites</h2>

<p>Are you sure you want to add this recipe to your favorites?</p>

<div class="form-group">
    <label>Recipe Name:</label>
    <span>@Model.RecipeId</span>
</div>


<form asp-action="Add" method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="RecipeId" />

    <button type="submit" class="btn btn-primary">Add to Favorites</button>
    <a asp-action="Index" asp-route-userId="@Model.UserId" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

